@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    font-family: roboto;
}

.navbar {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.login{
    display: flex;
    align-items: flex-end;
}
