@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    font-family: roboto;
}

.header {
    background-color: #b73d32;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    margin-top: -145px;
    margin-bottom: 50px;
}





.createGroup a {
    color: rgb(255, 255, 255);
}

.createGroup a:hover {
    color: #b73d32;
}





.background {
    background-color: #333;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding-top: 145px;
   /*  padding-bottom: 80px; */
   
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
   
 
}

h1  {
    text-align: center;
    padding-bottom: 30px;
    margin-top: -6px;
}

h1 b {
    color: #b73d32;
}

.descriptionFixed h2 {
    color: #b73d32;
    font-size: 40px;
    padding-bottom: 35px;
}



.topSide {
   
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 50px;
  }

  section .topSide{
    display: flex;
    justify-content: center;
    text-align: justify;
    flex-wrap: wrap;
    padding: 50px;
    width: 100px;
  }

  .topSide p {
    font-size: 22px;
    margin-bottom: 21px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ffffff;
    padding-bottom: 2px;
    justify-content: space-around;
    text-align: justify;
    width: 71%;
    box-shadow: 0px 0px 3px #b73d32;
    padding: 20px;
    padding-top: 18px;
    margin-top: -41px;
  }
    



.fixedTitle h3 {
    color:#b73d32;
}


/* .container {
    background-color: rgb(255, 255, 255);
    opacity: 0.1;
}
 */


.descriptionFixed {
    color: rgb(255, 255, 255);
    font-size: 17px;
    display: flex;
    justify-content: center;
    width: 93%;
    text-align: justify;
    flex-wrap: wrap;
    padding: 110px;
    margin-top: -79px;
  
}

.instruLd {
    margin-top: 40px;
}



/* ---------------- PIE DE PAGINA ---------- */

.Sfooter{
    width: 100%;
    height: 225px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:20px;
}

.Smapa{
    flex-direction: column;
    display: flex;

}

.Smapa a:hover{
    color: #b73d32;
}

.Sfooter div{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}



.Sfooter h3{
    color: #b73d32;
    letter-spacing: 1px;
}

.Sfooter p{
    margin-top: 15px;
    color: #ffffff;
}
