<!-------- PIE DE PAGINA -------->
<footer class="Sfooter">
    <div>
        <p>AMIGO SECRETO </p>
            <hr>
        <p> LINEA DIRECTA </p>    
        
    </div>
    <div class="Smapa">
        <h3>MAPA DEL SITIO</h3>
        <a href="/">INICIO</a>
        <a href="/grupos">CREAR GRUPO</a>
        <a href="/registro">REGISTRARSE</a>
        <a href="/inicioSesion">INICIAR SESIÓN</a>
    </div>
    <div>
       <h3>DATOS DE CONTACTO</h3>
       <p><strong>Ubicación: </strong>Medellín, Colombia</p>
       <p><strong>Email: </strong>linea.directa@outlook.com</p>
       <p><strong>Teléfono: </strong> +57 3162339836</p>
    </div>
</footer> 