<header>

    <!DOCTYPE html>
<html lang="en">
<head>
  <title>Amigo Secreto LD</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
</head>
<body >
 
  <div class="navbarLD">
<nav >
  <div class="createGroup" >
    <div class="navbar-header">
      <a class="navbar-brand " href="/">Amigo Secreto LD</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">INICIO</a></li>
      <li><a href="/grupos">CREAR GRUPO</a></li>
      <li><a href="/registro">REGISTRARME</a></li>
      <li><a href="/inicioSesion">INICIAR SESIÓN</a></li>
    </ul>
  </div>
</nav>
</div>

</body>
</html>

</header>