<header>

    <!DOCTYPE html>
<html lang="en">
<head>
  <title>Amigo Secreto LD</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body >
 
  <div class="navbarLD">
<nav >
  <div class="createGroup" >
    <div class="navbar-header">
      <a class="navbar-brand " href="/">AMIGO SECRETO LD</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">INICIO</a></li>
      <li><a href="/grupos">CREAR GRUPO</a></li>
      <li><a href="/registro">REGISTRARME</a></li>
      <li><a href="/inicioSesion">INICIAR SESIÓN</a></li>
    </ul>
  </div>
</nav>
</div>

</body>
</html>

</header>