<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/adminGroup.css">
    <title>Amigo Secreto LD</title>
</head>
  
 <body>
    
 <!-------- MENU DE NAVEGACIÓN -------->
 <%- include("./partials/header.ejs")%>

<section class="nameGroup">

 <table class="table table-striped table-dark">
    <thead>
        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">Nombre del grupo</th>
                <th scope="col">Grupo actual</th>
                <!-- <th scope="col">Participantes</th> -->
               <!--  <th scope="col">Handle</th> -->
              </tr>
              <tr>
    </thead>
    <tbody>
        <tr>
          <th scope="row">Sector administrativo</th>
          <td>1</td>
        </tr>
    </tbody>
</table>
</section>
        <section class="membersGroup">
        <table class="table table-striped table-dark">
            <thead>
                <table class="table table-striped table-dark">
                    <thead>
                      <tr>
                        <th scope="col">Participantes</th>
                        <th scope="col">Gustos</th>
                        <th scope="col">Disgustos</th>
                        <th scope="col">Alergias</th>
                      </tr>
                      
            </thead>
                    <tr>
                        <th scope="row">Camilo Valencia</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">Sebastian Jimenez</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">Mariana Quintero</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    <tr>
                        <th scope="row">Juan Manuel Gutierrez</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
             </tbody>
    </table>
</body>