<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/groups.css">
    <title>Grupos - Amigo Secreto LD</title>
</head>
<body>
     <!-------- MENU DE NAVEGACIÓN -------->
     <%- include("./partials/header.ejs")%>

     <div class="background">
    
        <h2>Creación de grupos</h2>
        <div class="topSide">
    <section class="group">

        
        <form action="/grupos" method="post">

            
            <p>Para la creación de un grupo debes tener en cuenta:
                <ul>
                    <li>El creador del grupo será el administrador del mismo.</li>
                    <li>El administrador del grupo se encargará de diligenciar las fechas de endulzadas y descubrimiento.</li>
                    <li>Una vez creado el grupo, los participantes podrán acceder a él y realizar la inscripción con los datos solicitados.</li>
                </ul>
            </p>

            <div class="nameGroup">
                <input type="text" placeholder="Nombre del grupo" name="groupName">
            </div>
            <div class="button">
            <input  class="btn btn-primary" type="submit" value="Crear Grupo">
                </div>
        </form>
    </section>
</div>
</div>
</body>
</html>