<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>Amigo Secreto LD</title>
</head>
  
<body>

  
    <div class="background">

     <!-------- MENU DE NAVEGACIÓN -------->
     <%- include("./partials/header.ejs")%>

      
        <h1> <b> Bienvenid@ al Amigo Secreto en Línea Directa</b> </h1>

     <section class="topSide">

        <p>Ahora que miembros de nuestra empresa y amigos viven lejos uno del otro, el proceso de amigo secreto puede llegar a ser difícil de realizar. Por esto Amigo Secreto LD ofrece un generador gratuito del amigo invisible en línea. 
          Aquí puedes crear un grupo para tu sector, ponerle el nombre que desees y invitar a tus integrantes
        </p>
       

    </section>

    <!-- <section class="topSide">
        <p>Tienes la oportunidad de registrarte con tus datos personales y algunas preferencias </p>
    </section> -->
       <!--  <div class="buttons">
        <form class="btnCreate" action="/grupos" method="get">
            <input class="btn btn-primary " type="submit" name="groupsCreate" value="CREAR GRUPO">
        </form>

        <form class="" action="/registro" method="get">
            <input class="btn btn-success" type="submit" name="register" value="REGISTRARME">
        </form>

        <form class="justify-content-between" action="/inicioSesion" method="get">
            <input class="d-flex justify-content-end btn btn-danger" type="submit" name="login" value="INICIAR SESION">
        </form>
        </div> -->
    
    
     <div class="container" style="margin-top:50px">
        <div class="descriptionFixed">
        <h2>Historia del Amigo Secreto</h2>
        <div class="row">
          <div class="col-md-4">
              <div class="fixedTitle">
                  <h3><strong>¿Cómo comenzó el Amigo Secreto en América?</strong></h3>
               
            <p>
              Los colonizadores neerlandeses trajeron con ellos la tradición de "Sinterklaas" (Santa Claus) al Nuevo Mundo hace más de 400 años. Santa Claus o, San Nicolás, en América está basado en "Sinterklaas". Ambos traen regalos a los niños y adultos por igual. Ya que familias y amigos a menudo intercambian regalos en la época de Navidad, el Amigo Secreto, o Amigo Invisible, comenzó para simplificar y al mismo tiempo hacer divertido el proceso de dar regalos. </p>
            </div>
          </div>
          <div class="col-md-4">
               <div class="fixedTitle">
                  <h3><strong>¿Cómo funcionaba el Amigo Secreto antes de la internet?</strong></h3>
               </div>
            <p>
              Un grupo de personas solían escribir su nombre en un pequeño papel y estos se juntaban en un sombrero, después cada persona sacaba un papel en secreto con el nombre de alguna otra persona. Luego se compraba un regalo que se daba a la persona de quien estaba escrito el nombre en el papelito. </p>
            
          </div>
          <div class="col-md-4"> 
              <div class="fixedTitle">
              <h3><strong>Instrucciones de como utilizar nuestra plataforma de Amigo Secreto</strong></h3>
          </div>
            <p>
              1. Primer paso creamos un grupo con el nombre de tu sector. La persona que creá el grupo será el líder y tendrá acceso a la lista de miembros del grupo. 
              <hr>
              2. Nuestros usuarios deben de registrarse con sus datos personales y completar algunos campos donde indiquen sus gustos, disgustos y posibles alergias. 
              <hr>
              3. Una vez el grupo este creado y te hayas registrado, tienes la posibilidad de aplicar nuestro sorteo de amigo secreto, el cual te buscará un acompañante aleatorio.
              <hr>
              4. Una vez apliques el sorteo y ya tengas tu acompañante, vas a poder visualizar un pequeño perfil de el con algunas preferencias y gustos.
              <hr>
              5. Incluimos en tu perfil un calendario el cual nos permite saber las fechas importantes para la endulzada y el descubrimiento.
               </p>
            
                  </div>
                </div>
              </div>
   
   
        </div>
      </div>
  
</body>
</html>