<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <section class="group">
        <form action="/register" method="post">

            <h2>Ingresa a tu perfil</h2>
            
            <div>
                <input type="text" placeholder="Documento de identidad" name="idCard">
            </div>

            <div>
                <input type="password" placeholder="Contraseña" name="password">
            </div>

            <input type="submit" value="Iniciar Sesión">

        </form>
    </section>
</body>
</html>