<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/login.css">
    <title>Inicio Sesión</title>
</head>
<body>
    <div class="header">
      <!-------- MENU DE NAVEGACIÓN -------->

      <%- include("./partials/header.ejs")%>
    </div>

      <div class="background">
        
        <section>

              <h2>Iniciar Sesión</h2>
              <div class="box">
              <form action="/inicioSesion" method="post">
                <div class="data">

                <div class="">
                  <input type="text" id="form3Example1cg" placeholder="Ingresar C.C" name="idCard" class="form-control form-control-lg" />
                 <!--  <label class="form-label" for="name">Nombre</label> -->
                </div>

                <div class="">
                  <input type="password" id="form3Example3cg" placeholder="Contraseña" name="password" class="form-control form-control-lg" />
                  <!-- <label class="form-label" for="lastName">Apellido</label> -->
                </div>

                <div class="button">
                  <input  class="btn btn-danger" type="submit" value="Iniciar Sesión">
                      </div>
  
                  <p class="text-center text-muted mt-5 mb-0">¿No tienes una cuenta? <a href="/registro"
                      class="fw-bold text-body"><u>Registrarme</u></a></p>
                  </div>

                </div>
        </form>
      </div>
    </section>

</div>

<%- include("./partials/footer.ejs")%>
</body>
</html>