<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupos - Amigo Secreto LD</title>
</head>
<body>
    <section class="group">
        <form action="/register" method="post">

            <h2>Registrarme en el grupo:</h2>
            
            <div>
                <input type="text" placeholder="Nombre" name="name">
            </div>

            <div>
                <input type="text" placeholder="Apellido" name="lastName">
            </div>

            <div>
                <input type="text" placeholder="Documento de identidad" name="idCard">
            </div>

            <div>
                <input type="password" placeholder="Contraseña" name="password">
            </div>

            <div>
                <input type="text" placeholder="Gustos" name="like">
            </div>

            <div>
                <input type="text" placeholder="Disgustos" name="dislike">
            </div>

            <div>
                <input type="text" placeholder="Alergias" name="alergies">
            </div>

            <div class="inputSelect">
                <select name="group" data-label="Group">
                    <% group.forEach(group => { %>
                        <option value="<%= group.id %>"><%= group.groupname %></option>
                    <% }); %>
                </select>
            </div>

            <input type="submit" value="Registrarme">

            <a class = "registered" href="/inicioSesion">Ya estoy registrado</a>

        </form>
    </section>
</body>
</html>